.pagination{
  &_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &_item{
  }
  &_link{
    display: block;
    border: 1px solid color('grey3');
    border-radius: 10px;
    padding: 5px 8px;
    color: color('primary');
    transition: $transition-base;
    cursor: pointer;
    &:hover{
      color: color('white');
      background-color: color('primary');
      text-decoration: none;
    }
  }
  &_item + &_item{
    margin-left: 8px;
  }
  &_item:nth-child(4){
    border-radius: unset;
    border: unset;
    cursor: default;
  }
  @include media-down(xss) {
    
  }
}