// > color
$colors: map-merge(
  (
    "primary": #786b50,
    "secondary1": #d3c2ad,
    "secondary2": #785f49,
    "grey1": #1a1a1a,
    "grey2": #5c5c5c,
    "grey3": #8f8f8f,
    "grey4": #dbdbdb,
    "grey5": #efefef,
    "grey6": #f2f2f2,
    "white": #ffffff,
  ),
  $colors
);

// > text
$txt-size: (
  "h1": 36,
  "h2": 30,
  "h3": 24,
  "h4": 18,
  "h5": 18,
  "h6": 16,
  "s": 12,
  "p1": 14,
);

$base-font-size: 16;

// > font family
$Cormorant: "Cormorant", serif;
$NotoSansTC: "Noto Sans TC", sans-serif;
$NotoSerifTC: "Noto Serif TC", serif;

// > transition
$transition-base: all 0.3s ease-in-out;

